@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Bento grid custom layout */
@utility bento-grid {
  @apply grid gap-4 sm:gap-6;
  grid-template-areas:
    "a"
    "b"
    "c";

  @media (min-width: 768px) {
    grid-template-areas:
      "a b"
      "c b";
    grid-template-columns: 1fr 1fr;
  }
}

@utility bento-a { grid-area: a; }
@utility bento-b { grid-area: b; }
@utility bento-c { grid-area: c; }


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-phone: 320px;
  --breakpoint-lgPhone: 768px;


  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
